header{
    background-color:  rgb(120, 112, 228);
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 30px;
    color:white;
    border: groove;
    border-color: rgb(113, 75, 228);
}
pre{
    padding: 20px;
    color: white;
    font-family: 'Times New Roman',;
    background-color: rgb(112, 133, 228);;
    border: groove;
    border-color: rgb(120, 112, 228);
}